{{#if messages}}
<ul class="text-primary error-list">
    {{#each message in messages}}
    <li>
        <p>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{message}}
        </p>
    </li>
    {{/each}}
</ul>
{{/if}}