/** Override bootstrap variables */

// Brand colors
$brand-primary: #1E685E;
$brand-secondary: #68341E;

// Navbar
$navbar-inverse-bg: $brand-secondary;

$navbar-color: #f8f8f8;
$navbar-inverse-color: $navbar-color;
$navbar-inverse-link-color: darken($navbar-color, 20%);
$navbar-inverse-link-hover-color: $navbar-color;
$navbar-inverse-link-active-color: $navbar-color;

// Flat styles
$radius: 2px;
$border-radius-small: $radius;
$border-radius-base: $radius;
$border-radius-large: $radius;