@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

html, body {
    margin: 30px 0;
}

/* Fix progress bar label */
.progress span {
	position: absolute;
	display: block;
	width: 100%;
	color: $text-color;
}


