<div class="row">
    <h1 class="page-header">Changer l&apos;adresse e-mail</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Nouvelle adresse e-mail</label>

            <div class="col-sm-5">
                <input type="email" id="email" class="form-control" placeholder="Email"/>
            </div>
            <div class="col-sm-4">
                <ul class="text-primary error-list">
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Erreur : adresse email incorrecte
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="emailConfirmation" class="col-sm-3 control-label">Confirmation</label>

            <div class="col-sm-5">
                <input type="email" id="emailConfirmation" class="form-control" placeholder="Confirmation"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label for="actual-password" class="col-sm-3 control-label">Mot de passe</label>

            <div class="col-sm-5">
                <div class="input-group">
                    <input type="password" id="delete-password" class="form-control"
                           placeholder="Mot de passe"/>

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Valider</button>
                      {{#link-to 'account' class="btn btn-primary"}}Annuler{{/link-to}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>