<div class="row">

    <h1 class="page-header">
        Supprimer le compte
        <div class="pull-right">
          {{#link-to 'account.index' class="btn btn-default"}}
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              Retour
          {{/link-to}}
        </div>
    </h1>

    <p class="text-danger">
        <b>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Attention : cette action est irréversible.
        </b>
    </p>

    <div id="account-delete-start">
        <button class="btn btn-danger"
                onclick="$('#account-delete-start').toggleClass('hidden');$('#delete-validation').toggleClass('hidden');">
            Supprimer le compte
        </button>
    </div>
    <form class="form-inline">
        <div id="delete-validation" class="hidden">
            <div class="input-group">
                <input type="password" id="delete-password" class="form-control"
                       placeholder="Mot de passe"/>

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Valider</button>
                  {{#link-to 'account' class="btn btn-primary"}}Annuler{{/link-to}}
                </div>
            </div>
        </div>
    </form>
</div>
