<div class="container">
    <div class="row">
        <div id="index" class="main">
            <h1 class="page-header">Compte</h1>

            <div id="account-change-email">
                <h3>Changer l'adresse e-mail</h3>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="actual-password-email" class="col-sm-3 control-label">Mot de passe actuel</label>

                        <div class="col-sm-5">
                            <input type="password" id="actual-password-email" class="form-control"
                                   placeholder="Mot de passe actuel"/>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="email" class="col-sm-3 control-label">Nouvelle adresse e-mail</label>

                        <div class="col-sm-5">
                            <input type="email" id="email" class="form-control" placeholder="Email"/>
                        </div>
                        <div class="col-sm-4">
                            <ul class="text-primary error-list">
                                <li>
                                    <p>
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        Erreur : adresse email incorrecte
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailConfirmation" class="col-sm-3 control-label">Confirmation</label>

                        <div class="col-sm-5">
                            <input type="email" id="emailConfirmation" class="form-control" placeholder="Confirmation"/>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button id="submit" type="submit" class="btn btn-primary col-sm-4">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
            <div id="account-change-password">
                <h3>Changer le mot de passe</h3>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="actual-password" class="col-sm-3 control-label">Mot de passe actuel</label>

                        <div class="col-sm-5">
                            <input type="password" id="actual-password" class="form-control"
                                   placeholder="Mot de passe actuel"/>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-password" class="col-sm-3 control-label">Nouveau mot de passe</label>

                        <div class="col-sm-5">
                            <input type="password" id="new-password" class="form-control"
                                   placeholder="Nouveau mot de passe"/>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-confirmation" class="col-sm-3 control-label">Confirmation</label>

                        <div class="col-sm-5">
                            <input type="password" id="password-confirmation" class="form-control"
                                   placeholder="Confirmation"/>
                        </div>
                        <div class="col-sm-4">
                            <ul class="text-primary error-list">
                                <li>
                                    <p>
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        Erreur : les mots de passes ne correspondent pas
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button id="submit" type="submit" class="btn btn-primary col-sm-4">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
            <div id="account-delete">
                <h3>Supprimer le compte</h3>
                <p class="text-danger">
                    <b>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Attention : cette action est irréversible.
                    </b>
                </p>
                <div id="account-delete-start">
                    <button class="btn btn-danger"
                            onclick="$('#account-delete-start').toggleClass('hidden');$('#delete-validation').toggleClass('hidden');">
                        Supprimer le compte
                    </button>
                </div>
                <form class="form-inline">
                    <div id="delete-validation" class="hidden">
                        <div class="input-group">
                            <input type="password" id="delete-password" class="form-control" placeholder="Mot de passe"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-danger">Valider</button>
                                <button type="submit" class="btn btn-primary">Annuler</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>