 <div class="container-fluid" id="main">
    <div class="row">
        <div id="left" class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Accueil</a></li>
                <li><a href="#">Personnage</a></li>
            </ul>
        </div>

        <div id="game" class="col-sm-9 sol-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="game-player col-md-2">
                <img class="center-block" src="http://www.sistearth.com/jeu/img/ent/a8149a439783b3532ca883195b2af7f5.png"/>
                <p class="text-center"><b>Dale</b></p>
                <p class="text-muted text-center">Niveau 5</p>
            </div>

            <div class="game-bars col-md-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="200" style="width: 100%;"><span>200/200 PV</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"><span>60/100 PA</span></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="500" style="width: 20%;"><span>100/500 XP</span></div>
                </div>
            </div>

            <div class="game-buffs col-md-3">
                <h5>Bénédictions</h5>
                <img src="http://www.sistearth.com/jeu/img/com/zprotectiondair.png"/>
            </div>

            <div class="game-debuffs col-md-3">
                <h5>Malédictions</h5>
                <img src="http://www.sistearth.com/jeu/img/com/armurefaible.png"/>
                <img src="http://www.sistearth.com/jeu/img/com/zaveuglement.png"/>
            </div>
        </div>
    </div>
</div>