<div class="game">
	<div class="game-header">
		<div>
			<h2>Dale</h2>
			<p class="text-muted">Chevalier, niveau 1</p>
		</div>
	</div>
	<div class="game-image">
		<img class="well" src="http://www.sistearth.com/jeu/img/ent/a8149a439783b3532ca883195b2af7f5.png"/>
	</div>
	
	<div class="game-bars">
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="200" style="width: 100%;"><span>200/200 PV</span></div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>60/100 PA</span></div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="500" style="width: 20%;"><span>475/500 XP</span></div>
		</div>
	</div>
	
	<div class="game-effects">
		<div class="game-buffs well">
			<img src="http://www.sistearth.com/jeu/img/com/zprotectiondair.png"/>
			<img src="http://www.sistearth.com/jeu/img/com/armurefaible.png"/>
		</div>
		<div class="game-debuffs well">
			<img src="http://www.sistearth.com/jeu/img/com/zaveuglement.png"/>
		</div>
	</div>
</div>