<div class="row">
    <div id="login-page">
        <h1 class="page-header">Connexion au jeu</h1>
      {{#unless session.isAuthenticated}}
        {{#if errorMessage}}
            <div class="alert alert-danger">
                <p>
                    Identifiant ou mot de passe incorrect
                </p>
            </div>
        {{/if}}
          <form role="form" {{action 'authenticate' on='submit' }} class="form-horizontal col-md-6">
              <div class="form-group">
                  <label for="identification" class="col-sm-4 control-label">Identifiant</label>

                  <div class="col-sm-8">
                    {{input type='text' classNames='form-control' placeholder='Identifiant' value=identification id='identification'}}
                  </div>
              </div>
              <div class="form-group">
                  <label for="password" class="col-sm-4 control-label">Mot de passe</label>

                  <div class="col-sm-8">
                    {{input type='password' classNames='form-control' placeholder='Mot de passe' value=password id='password'}}
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-4">
                      <button id="submit" type="submit" class="btn btn-primary">Connexion</button>
                  </div>
              </div>
          </form>
      {{else}}
          <div class="alert alert-success">
              <p>
                  Connexion réussie !
              </p>
          </div>
      {{/unless}}
    </div>
</div>
