<div class="post">
    <h1 class="post-header">{{title}}</h1>
    <!-- TODO : link-to author-->
    <p class="post-metadata text-muted">{{creationDate}}, par <a href="#">{{author}}</a>.</p>
    <hr>
    <p>{{body}}</p>
</div>