<div class="container">
    <div class="row">
    	<div id="post" class="main">
			<h1 class="page-header">{{title}}</h1>
    		<p class="text-muted">{{formattedDate}}, par {{author.username}}.</p>
    		<br/>
    		<p id="post-body" class="text-justify">{{text}}</p>
		</div>
	</div>
</div>