<div class="container">
    <div class="row">
        <div id="post" class="main">
            <h1 class="page-header">Compte</h1>
            <hr class="hr-danger">
            <h2>Zone à risque !</h2>
            <h3>Suppression du compte</h3>
            <div class="alert alert-danger">
                <p class="text-danger">
                    <button id="delete" type="submit" class="btn btn-danger" {{action 'delete' on="submit" }}>Supprimer le compte</button>
                    &nbsp;
                    <span class="glyphicon glyphicon-warning-sign"></span> Attention, la suppression du compte est irréversible. Aucune réclamation ne sera possible.
                </p>
            </div>
        </div>
    </div>
</div>